<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Categoria</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}">
</head>
<body>
<div class="jumbotron">
		<div class="container text-center">
			<h1>Gestión de Transportes</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 text-center">
				<h2>Cambiar Categoria</h2>
			</div>
			<div class="col-md-offset-2 col-md-8 text center">
				<form method="post" action="#" th:action="@{/categoria}" th:object="${bono.categoria}">
				
				</form>
			</div>
			<hr>
		</div>
	
	</div>


<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>